/* 清除浮动 */
.clear-float {
    content: '';
    display: block;
    clear: both;    
}
/* 开启左浮动 */
.float-left {
    float: left;
}
/* 开启右浮动 */
.float-right {
    float: right;
}
/* 版心全局配置 */
.container {
    width: 1190px;
    margin: 0 auto;
}
/* 头部导航栏start */
.top-wrap {
    height: 30px;
    font-size: 12px;
    color: #666;
    background-color: #ECECEC;
    line-height: 30px;
}

.left-wrap span {
    margin-right: 28px;
}

.left-wrap a:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.left-wrap a:nth-of-type(2) {
    padding-left: 10px;
}

.right-wrap a {
    padding: 0 15px;
    border-right: 1px solid #ccc;
}

.right-wrap a:last-child {
    padding-right: 0;
    border-right: none;
}
/* 头部导航栏end */
/* 网站头图+右侧搜索栏start */
.search-wrap {
    height: 120px;
}
.search-right {
    height: 36px;
    margin-top: 42px;
    font-size: 0;
}
.search-right input {
    font-size: 16px;
    box-sizing: border-box;
    height: 36px;
    width: 510px;
    border: 1px solid #DD302D;
    vertical-align: bottom;
}
.search-right button {
    width: 80px;
    height: 36px;
    vertical-align: bottom;
    background-color: #DD302D;
}

.search-right button img{
    margin: auto;;
}

/* 网站头图+右侧搜索栏start */