/* 清除浮动 */
.clear-float::after {
    content: '';
    display: block;
    clear: both;    
}
/* 开启左浮动 */
.float-left {
    float: left;
}
/* 开启右浮动 */
.float-right {
    float: right;
}
/* 版心全局配置 */
.container {
    width: 1190px;
    margin: 0 auto;
    font-size: 16px;
}
/* 头部导航栏start */
.top-wrap {
    height: 30px;
    font-size: 12px;
    color: #666;
    background-color: #ECECEC;
    line-height: 30px;
}

.left-wrap span {
    margin-right: 28px;
}

.left-wrap a:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.left-wrap a:nth-of-type(2) {
    padding-left: 10px;
}

.right-wrap a {
    padding: 0 15px;
    border-right: 1px solid #ccc;
}

.right-wrap a:last-child {
    padding-right: 0;
    border-right: none;
}
/* 头部导航栏end */
/* 网站头图+右侧搜索栏start */
.search-wrap {
    height: 120px;
}
.search-right {
    height: 36px;
    margin-top: 42px;
    font-size: 0;
}
.search-right input {
    font-size: 16px;
    box-sizing: border-box;
    height: 36px;
    width: 510px;
    padding-left: 1px;
    border: 1px solid #DD302D;
    vertical-align: bottom;
}
.search-right button {
    width: 80px;
    height: 36px;
    vertical-align: bottom;
    background-color: #DD302D;
}

.search-right button img{
    margin: auto;;
}

/* 网站头图+右侧搜索栏end */

/* 导航栏start */
.left-nav {
    width: 190px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #DD302D;
    color: #FFFFFF;
}

.right-nav {
    margin-top: 13px;
}

.right-nav li {
    margin-left: 20px;
}

.right-nav li:first-child {
    margin-left: 10px;
}

.right-nav li a {
    width: 64px;
    height: 23px;
    color: #333;
    font-weight: 500;
}
/* 导航栏end */
.line {
    width: 100vw;
    border-top: 1px solid red;
    margin-bottom: 10px;
}

/* 中心导航区域start */
.center-nav {
    height: 458px;
    margin-bottom: 10px;
}

.center-nav .options {
    box-sizing: border-box;
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    position: relative;
    padding-top: 10px;
}

.center-nav .silder {
    margin: 0 10px;
}

.center-nav .options ul li {
    height: 28px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 28px;
}

.center-nav .options ul li>a {
    color: #333;
    font-weight: 700;
}

.center-nav .options ul li div {
    width: 700px;
    height: 458px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 190px;
    display: none;
}

.center-nav .options ul li:hover div{
    display: block;
}

.center-nav .options ul li:hover {
    background-color: #DD302D;
}

.center-nav .options ul li dt {
    width: 70px;
    height: 20px;
    font-size: 500;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 700;
}

.center-nav .options ul li dt a {
    color: #000;
}

.center-nav .options ul li dd {
    height: 20px;
    padding: 0 10px;
    font-size: 14px;
    border-left: 1px solid #666;
    float: left;
}

.center-nav .options ul dl {
    margin-top: 16px;
}

.center-nav .right-banner {
    width: 290px;
    height: 458px;
}

.center-nav .right-banner .top-right {
    box-sizing: border-box;
    width: 290px;
    height: 158px;
    padding: 15px;
    border: 1px solid #D9D9D9;
}

.center-nav .right-banner .top-right .top-message {
    border-bottom:1px solid #D9D9D9;
    padding-bottom: 10px;
}

.center-nav .right-banner .top-right .top-message span {
    font-size: 14px;
    color: #000;
}

.center-nav .right-banner .top-right .top-message a {
    font-size: 12px;
    color: #999;
}

.center-nav .right-banner .top-right ul li {
    margin-top: 3px;
}

.center-nav .right-banner .top-right ul li a {
    font-size: 12px;
    color: #666;
}

.center-nav .right-banner .top-right ul li a:hover {
    color: red;
    cursor: pointer;
}

.center-nav .right-banner .bottom-right {
    box-sizing: border-box;
    width: 290px;
    height: 290px;
    padding: 16px;
}

.center-nav .right-banner .bottom-right ul li {
    width: 48px;
    height: 71px;
    margin-bottom: 16px;
    margin-right: 22px;
    text-align: center;
}

.center-nav .right-banner .bottom-right ul li:last-child {
    margin-right: 0;
}

.center-nav .right-banner .bottom-right ul li div {
    width: 48px;
    height: 48px;
    background-image: url('../images/精灵图-侧边功能.png');
}

.center-nav .right-banner .bottom-right ul:nth-child(1) li:nth-child(1) div {
    background-position: 0 0;
}
.center-nav .right-banner .bottom-right ul:nth-child(1) li:nth-child(2) div {
    background-position: -48px 0;
}
.center-nav .right-banner .bottom-right ul:nth-child(1) li:nth-child(3) div {
    background-position: -96px 0;
}
.center-nav .right-banner .bottom-right ul:nth-child(1) li:nth-child(4) div {
    background-position: -144px 0;
}
.center-nav .right-banner .bottom-right ul:nth-child(2) li:nth-child(1) div {
    background-position: 0 -48px;
}
.center-nav .right-banner .bottom-right ul:nth-child(2) li:nth-child(2) div {
    background-position: -48px -48px;
}
.center-nav .right-banner .bottom-right ul:nth-child(2) li:nth-child(3) div {
    background-position: -96px -48px;
}
.center-nav .right-banner .bottom-right ul:nth-child(2) li:nth-child(4) div {
    background-position: -144px -48px;
}
.center-nav .right-banner .bottom-right ul:nth-child(3) li:nth-child(1) div {
    background-position: 0 -96px;
}
.center-nav .right-banner .bottom-right ul:nth-child(3) li:nth-child(2) div {
    background-position: -48px -96px;
}
.center-nav .right-banner .bottom-right ul:nth-child(3) li:nth-child(3) div {
    background-position: -96px -96px;
}
.center-nav .right-banner .bottom-right ul:nth-child(3) li:nth-child(4) div {
    background-position: -144px -96px;
}

.center-nav .right-banner .bottom-right ul li span {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
/* 中心导航区域end */
/* 秒杀导航区域start */
.miaosha-banner img {
    margin-right: 10px;
}

.miaosha-banner img:last-child {
    margin-right: 0;
}
/* 秒杀导航区域end */
/* 商品展示区域start */
.shop {
    margin-top: 48px;
}

.shop .shop-top {
    margin-bottom: 6px;
}
.shop .shop-top span {
    font-size: 20px;
    font-weight: 700;
}

.shop-banner {
    margin-top: 10px;
}

.shop .shop-top .shop-banner li {
    padding: 0 10px;
    border-left: 1px solid #666;
    height: 16px;
    line-height: 16px;
}

.shop .shop-top .shop-banner li:first-child {
    border-left: none;
}

.shop .shop-bottom .banner {
    height: 432px;
}
.shop-bottom {
    border-top: 2px solid #DD302D;
}
.shop-bottom .banner1 {
    width: 230px;
}
.shop-bottom .banner1 div {
    width: 190px;
    height: 108px;
    margin: 20px auto 0 auto;
}
.shop-bottom .banner1 ul li {
    text-align: center;
    width: 90px;
    float: left;
    color: #666;
    padding-bottom: 3px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.shop-bottom .banner1 ul li:first-child {
    margin-right: 10px;
}
.shop-bottom .banner1 img {
    margin: 30px auto 0 auto;
}
.shop-bottom .banner3 img {
    border-bottom: 1px solid #E2E2E2;
}
.shop-bottom .banner4 img {
    border: 1px solid #E2E2E2;
    border-top: none;
}
.shop-bottom .banner5 img {
    border-bottom: 1px solid #E2E2E2;
}
/* 商品展示区域end */
/* 底部跳转链接区域start */
.bottom-div {
    margin-top: 48px;
    background-color: #483E3E;
}
.a-msg {
    height: 246px;
    border-bottom: 1px solid #584D4D;
}
.bottom-div .bottom-msg .a-msg ul {
    width: 190px;
    height: 176px;
    float: left;
    margin-top: 48px;
    margin-right: 10px;
}
.bottom-div .bottom-msg .a-msg ul:last-child {
    margin-right: 0;
}
.bottom-div .bottom-msg .a-msg ul li a {
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
}
.bottom-div .bottom-msg .a-msg ul li a:hover {
    color: #DD302D;
}
.beian {
    height: 193px;
    text-align: center;
}
.beian ul {
    width: 861px;
    margin: 48px auto 10px auto;
}

.beian ul li {
    float: left;
}

.beian ul li a {
    font-size: 12px;
    padding: 0 18px;
    color: #FFF;
    border-right: 1px solid #FFF;
}
.beian ul li a:hover {
    color: #DD302D;
}
.beian ul li:last-child a {
    border-right: none;
}
.beian span {
    font-size: 12px;
    color: #FFF;
}
/* 底部跳转链接区域end */