/* 清除浮动 */
.clear-float::after {
    content: '';
    display: block;
    clear: both;    
}
/* 开启左浮动 */
.float-left {
    float: left;
}
/* 开启右浮动 */
.float-right {
    float: right;
}
/* 版心全局配置 */
.container {
    width: 1190px;
    margin: 0 auto;
    font-size: 16px;
}
/* 头部导航栏start */
.top-wrap {
    height: 30px;
    font-size: 12px;
    color: #666;
    background-color: #ECECEC;
    line-height: 30px;
}

.left-wrap span {
    margin-right: 28px;
}

.left-wrap a:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.left-wrap a:nth-of-type(2) {
    padding-left: 10px;
}

.right-wrap a {
    padding: 0 15px;
    border-right: 1px solid #ccc;
}

.right-wrap a:last-child {
    padding-right: 0;
    border-right: none;
}
/* 头部导航栏end */
/* 网站头图+右侧搜索栏start */
.search-wrap {
    height: 120px;
}
.search-right {
    height: 36px;
    margin-top: 42px;
    font-size: 0;
}
.search-right input {
    font-size: 16px;
    box-sizing: border-box;
    height: 36px;
    width: 510px;
    padding-left: 1px;
    border: 1px solid #DD302D;
    vertical-align: bottom;
}
.search-right button {
    width: 80px;
    height: 36px;
    vertical-align: bottom;
    background-color: #DD302D;
}

.search-right button img{
    margin: auto;;
}

/* 网站头图+右侧搜索栏end */

/* 导航栏start */
.left-nav {
    width: 190px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #DD302D;
    color: #FFFFFF;
}

.right-nav {
    margin-top: 13px;
}

.right-nav li {
    margin-left: 20px;
}

.right-nav li:first-child {
    margin-left: 10px;
}

.right-nav li a {
    width: 64px;
    height: 23px;
    color: #333;
    font-weight: 500;
}
/* 导航栏end */
.line {
    border-top: 1px solid red;
    margin-bottom: 10px;
}

/* 中心导航区域start */
.center-nav {
    height: 458px;
    margin-bottom: 10px;
}

.center-nav .options {
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    position: relative;
    padding-top: 10px;
}

.center-nav .silder {
    margin: 0 10px;
}

.center-nav .options ul li {
    height: 28px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 28px;
}

.center-nav .options ul li>a {
    color: #333;
    font-weight: 700;
}

.center-nav .options ul li div {
    width: 700px;
    height: 458px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 190px;
    display: none;
}

.center-nav .options ul li:hover div{
    display: block;
}

.center-nav .options ul li:hover {
    background-color: #DD302D;
}

.center-nav .options ul li dt {
    width: 70px;
    height: 20px;
    font-size: 500;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 700;
}

.center-nav .options ul li dt a {
    color: #000;
}

.center-nav .options ul li dd {
    height: 20px;
    padding: 0 10px;
    font-size: 14px;
    border-left: 1px solid #666;
    float: left;
}

.center-nav .options ul dl {
    margin-top: 16px;
}
/* 中心导航区域end */